<html>

<head>
    <link rel="stylesheet" href="/dist/player.css">
</head>

<body>
    <div id="player"></div>
    <script data-cfasync="false" src="https://ssl.p.jwpcdn.com/player/v/8.23.2/jwplayer.js"></script>
    <script data-cfasync="false" src="/dist/jwplayer.hlsjs.min.js"></script>
    <script data-cfasync="false" src="/dist/hls.js"></script>
    <script data-cfasync="false" src="/dist/p2p-media-loader-core.min.js"></script>
    <script data-cfasync="false" src="/dist/p2p-media-loader-hlsjs.min.js"></script>
    <script>const id = "<%= id %>"</script>
    <script data-cfasync="false" src="/dist/init.js"></script>
</body>

</html>